<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <property resource="config.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d;%5p] [%t] [%c] [%X{userId};%X{sessionId};%r] : %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logback.logdir}/callisto-frontend-logback.log</file>
        <encoder>
            <pattern>[%d;%5p] [%t] [%c] [%X{userId};%X{sessionId};%r] : %m%n</pattern>
        </encoder>
    </appender>
   
    <logger name="hu.vanio.easydao" level="DEBUG" />
 
    <!-- INFO szinten minden ami nem a jelenlegi projekt -->
    <root level="INFO">
        <appender-ref ref="${logback.appender.name}" />
    </root>
</configuration>